<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoi18n.mapper.SwiftMessagesSlaveMapper">

    <resultMap id="resultMap" type="com.example.demoi18n.entity.SwiftMessagesPo">
        <id property="id" column="id"/>
        <result property="msgContent" column="msg_content"/>
        <result property="score" column="score"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectMsgInfoByMsgIds" resultMap="resultMap">
        select
        <include refid="Base_Column_List"></include>
        from swift_messages
        where id in
        <foreach collection="msgIds" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
        order by score desc
    </select>


    <sql id="Base_Column_List">
        id
        , msg_content,score,create_time,update_time
    </sql>

</mapper>